                    <div id="uib_page_2" class="upage-content vertical-col left hidden panel">
                        <div>
                            <div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
                                <div class="col uib_col_1 col-0_12-12" data-uib="layout/col" data-ver="0">
                                    <div class="widget-container content-area vertical-col center">
                                        <div class="tarea widget uib_w_37 d-margins" data-uib="media/text" data-ver="0" name="uib_w_37">
                                            <div class="text-container">
                                                <h3>Please slide to edit</h3>
                                            </div>
                                        </div><span class="uib_shim"></span>
                                    </div>
                                </div>
                                <span class="uib_shim"></span>
                            </div>
                            <div>
                                <ul class="list widget uib_w_30 d-margins hidden edit_blank" data-uib="app_framework/listview" data-ver="2">
                                    <li class="swipe-reveal widget uib_w_34" data-uib="app_framework/swipe" data-ver="2">
                                        <div class="swipe-content"><a class="icon user">Hidden Blank</a></div>
                                        <div class="swipe-hidden">
                                            <a class="button sa1" onclick="activate_subpage('#uib_page_4')">Edit</a>
                                            <a class="button archive sa2" onclick="$(this).closest(&quot;.swipe-reveal&quot;).remove()">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="button widget uib_w_42 d-margins icon add" data-uib="app_framework/button" data-ver="2">Add a group</a>
                    </div>
