<div class="upage-content hidden panel vertical-col hidden page_blank">
	<a class="hidden username"></a>
	<div class="user_ports">
	</div>
	<a class="button widget add_port d-margins icon add" data-uib="app_framework/button" data-ver="2" bound="popup">Add a port</a>
</div>
