
							{% for port in database[user] %}
                            <div class="sbs-container widget d-margins port_container" data-uib="layout/side_by_side" data-ver="0">
                                <div class="leftContent widget-container">
                                    <div class="sbs-container widget d-margins" data-uib="layout/side_by_side" data-ver="0">
                                        <div class="leftContent widget-container">
                                            <div class="table-thing with-label widget d-margins" data-uib="app_framework/select" data-ver="2">
                                                <label class="narrow-control label-inline">port</label>
                                                <select class="wide-control">
													{% for p in range(1, portnum+1) %}
                                                    <option value="{{ p }}">{{ p }}</option>
													{% endfor %}
                                                    <option value="delete">-</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="rightContent widget-container">
                                            <div class="table-thing with-label widget d-margins" data-uib="app_framework/flip_switch" data-ver="2">
                                                <div class="wide-control">
                                                    <input type="checkbox" class="toggle" id="af-flipswitch-{{ 400+user_id*100+loop.index0*10+4 }}" {% if database[user][port] %}checked="checked"{% endif %}>
                                                    <label for="af-flipswitch-{{ 400+user_id*100+loop.index0*10+4 }}" data-off="Off" data-on="On"><span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rightContent widget-container">
                                    <div class="sbs-container widget d-margins" data-uib="layout/side_by_side" data-ver="0">
                                        <div class="leftContent widget-container">

                                        </div>
                                        <div class="rightContent widget-container">
                                            <a class="button widget d-margins icon remove" data-uib="app_framework/button" data-ver="2" onclick="$(this).closest(&quot;.port_container&quot;).remove()"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
							{% endfor %}
