
                    <div id="uib_page_4" class="upage-content hidden panel vertical-col">
                        <div class="table-thing with-label widget uib_w_25 d-margins" data-uib="app_framework/input" data-ver="2">
                            <label class="narrow-control label-inline">User Name</label>
                            <input class="wide-control" placeholder="Placeholder Text" type="text">
                        </div>
                        <div class="button-grouped flex widget uib_w_26 d-margins" data-uib="app_framework/button_group" data-ver="2">
                            <a class="button widget adduser_ok green" data-uib="app_framework/button" data-ver="2">Confirm</a>
                            <a class="button widget adduser_cancel" data-uib="app_framework/button" data-ver="2">Cancel</a>
                        </div>
                    </div>

                    <div id="uib_page_5" class="upage-content hidden panel vertical-col">
                        <div class="table-thing with-label widget uib_w_25 d-margins" data-uib="app_framework/input" data-ver="2">
                            <div class="table-thing with-label widget uib_w_16 d-margins" data-uib="app_framework/select" data-ver="2">
                              <label class="narrow-control label-inline">User</label>
                              <select class="wide-control">
                                <option value="user1">user1</option>
                              </select>
                            </div>
                        </div>
                        <div class="button-grouped flex widget uib_w_26 d-margins" data-uib="app_framework/button_group" data-ver="2">
                            <a class="button widget removeuser_ok green" data-uib="app_framework/button" data-ver="2">Confirm</a>
                            <a class="button widget removeuser_cancel" data-uib="app_framework/button" data-ver="2">Cancel</a>
                        </div>
                    </div>
