                    <div id="uib_page_1" class="upage-content panel ac0 vertical-col">
                        <ul class="list widget d-margins" data-uib="app_framework/listview" data-ver="2">
                            <li class="widget hidden view_blank" data-uib="app_framework/listitem" data-ver="2"><a class="icon user">Hidden Blank</a>
                            </li>
                        </ul>

                        <div class="button-grouped flex widget uib_w_26 d-margins" data-uib="app_framework/button_group" data-ver="2">
                          <a class="button widget btn_removeuser d-margins icon remove red" data-uib="app_framework/button" data-ver="2" data-page-type="content_page">Delete a user</a>
                          <a class="button widget btn_adduser d-margins icon add" data-uib="app_framework/button" data-ver="2" data-page-type="content_page">Add a user</a>
                        </div>

                        <div class="sbs-container widget uib_w_39 d-margins hidden port_blank port_container" data-uib="layout/side_by_side" data-ver="0">
                          <div class="leftContent widget-container">
                            <div class="sbs-container widget uib_w_40 d-margins" data-uib="layout/side_by_side" data-ver="0">
                              <div class="leftContent widget-container">
                                <div class="table-thing with-label widget uib_w_16 d-margins" data-uib="app_framework/select" data-ver="2">
                                  <label class="narrow-control label-inline">Port</label>
                                  <select class="wide-control">
                                    {% for p in range(1, portnum+1) %}
                                    <option value="{{ p }}">{{ p }}</option>
                                    {% endfor %}
                                    <option value="delete">delete</option>
                                  </select>
                                </div>
                              </div>
                              <div class="rightContent widget-container">
                                <div class="table-thing with-label widget uib_w_15 d-margins port-btn-delete" data-uib="app_framework/flip_switch" data-ver="2">
                                  <div class="wide-control">
                                    <input type="checkbox" class="toggle" id="af-flipswitch" checked="checked"">
                                    <label for="af-flipswitch" data-off="Off" data-on="On"><span></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="rightContent widget-container">
                            <div class="sbs-container widget uib_w_41 d-margins" data-uib="layout/side_by_side" data-ver="0">
                              <div class="leftContent widget-container leftcomment">
                                  <input class="wide-control hidden" placeholder="Placeholder Text" type="text">
                                  <label class="narrow-control label-inline">comment1</label>
                              </div>
                              <div class="rightContent widget-container rightcomment">
                                  <input class="wide-control hidden" placeholder="Placeholder Text" type="text">
                                  <label class="narrow-control label-inline">comment2</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
